<div class="content-wrapper">

    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item" style="margin-left: 25px;">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Agregar platillo</li>
        </ol>




        <div class="box_general padding_bottom">

            <!--INICIO-->
            <!--<div class="box_general padding_bottom">-->
            
            <div class="header_box version_2">
                <h2><i class="fa fa-file"></i>Ingresar informacion de platillo</h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Nombre del platillo</label>
                        <input type="text" class="form-control" placeholder="Ingrese el nombre del platillo"
                            [(ngModel)]="dish_register.name" name="name_product">
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="form-group">
                        <label>Precio Q</label>
                        <input type="number" class="form-control" placeholder="(Q) Ingrese el precio"
                            onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"
                            [(ngModel)]="dish_register.price" name="price" >
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Descripcion</label>
                        <div class="card card-body text-center" style="min-height: 150px;">
                            <textarea placeholder="Escriba una descripcion del platillo" style="min-height: 140px; border-color: lightgray; border-width:1px; "
                                [(ngModel)]="dish_register.description" name="description"></textarea>
                        </div>

                    </div>
                </div>


                <div class="col-md-6">


                    <div class="form-group">
                        <label>Categoría / Categorías</label>
                    </div>



                    <div class="filter_type" style="min-height: 150px;">
                        <div class="form-group">
                            <a class="btn_1 gray approve" data-target="#modalcat" data-toggle="modal"><i
                                    class="fa fa-fw fa-check-circle-o"></i>Elegir o cambiar categorías</a>
                                    
                                    <div *ngIf="selected_list.length == 0">
                                        <br>
                                        <label  style="color: red ;">  No hay categoría seleccionada
                                        </label>
                                    </div> 
                        </div>

                        <div class="collapse show" id="filter_1">



                            <ul>
                                <li class="fa fa-plus-circle" *ngFor="let list of selected_list, let i = index">

                                    <label  *ngIf='selected_list.length > 0' class="container_check">&nbsp; {{list.name}}
                                    </label>&nbsp;&nbsp;&nbsp;

                                    <label  *ngIf='(selected_list.length == 0)' class="container_check" style="color: red ;"> No hay categoría seleccionada
                                    </label>&nbsp;&nbsp;&nbsp;
  
                                </li>


                            </ul>


                        </div>



                    </div>


                </div>

            </div>

            <!--</div>-->


            <!--INICIO-->
            <!--<div class="box_general padding_bottom">-->
                
                <div class="header_box version_2">
                    <h2><i class="fa fa-fw fa-list"></i> Características</h2>
                </div>


                <p></p>

                <div class="row">
                    <div class="form-group">
                        <label>Imagen del platillo</label>
                    </div>

                    <div class="col-md-4">

                        <p>
                            <img name="category_image" style="max-width: 30px;">&nbsp;&nbsp;
                        </p>

                        <div class="form-group" style="text-align: center;">
                            <a class="btn_1 gray approve" (click)="assign_image_category();"><i
                                    class="fa fa-fw fa-check-circle-o"></i> Imagen de ultima categoría
                                seleccionada</a>
                        </div>

                        <div class="form-group" style="text-align: center;">
                            <!--NOTA: Este botón llama al modal que contiene la galería de imagenes que se encuentra
                            en un componente externo y esa es la razon por la que ese modal no se encuentra en este
                            componente-->   
                            <a class="btn_1 gray approve" data-toggle="modal" data-target="#gallery_modal" ><i
                                    class="fa fa-fw fa-check-circle-o" ></i> Galería</a>
                        </div>

                    </div>



                    <div class="col-md-4">

                        <div class="form-group" style="text-align: center;">



                            <!--TOMA EL VALOR DE LA VARIABLE del observable, se dejo con src y no con [src] porque
                            el [src] no reconocía el observable con el src funciono sin problemas, así que se le asigna
                            la imagen por defecto al inicio y al limpiar el campo de imagen y se le asigna una imagen de
                            de uploads del servidor cuando es una imagen de la galería-->

                         

                                <figure>
                                    <img  src=  "{{(data$ | async)?.location}}" id="imagen_formulario2"
                                        style="max-width: 175px;" > 
                                        
                                        &nbsp;  

                                        <a class="btn_1 gray delete" (click)="assign_no_image();" style="font-size:x-small; color:rgb(157, 187, 194); position:absolute; text-align: right;"><i
                                            class="fa fa-fw fa-remove"></i></a> 
                                </figure>
                        

                        </div>
                    </div>
                    <br>

                </div>


                <div class="header_box version_2">
                    <h2><i class="fa fa-file"></i>Extras / guarniciones</h2>
                </div>



                <form [formGroup]="formParent" class="form-parent" novalidate>


                    <div class="form-grid" formArrayName="group_item_options">


                        <div class="form-field"
                            *ngFor="let items of getCtrl('group_item_options',formParent) ?.controls; let formChild = index">


                            <div class="form-block"    [formGroupName]="formChild"  class="needs-validation">

                                
                                
                                
                                 <div class="row">

                                    <div class="col-md-1">
                                        <div class="form-group">
                                        <a class="delete" (click)="remove_group(formChild)"
                                            style="cursor: pointer "><i class="fa fa-fw fa-remove"></i></a>
                                        </div>   
                                    </div>

                                    <div style="display:none;">
                                        <input type="text" [(ngModel)]="formParent.value.group_item_options[formChild].has_sons" formControlName="has_sons" >
                                     </div>

                                    <div class="col-md-5">
                                        <label>Titulo o descripcion</label>


                                        <div class="form-group">

                                            <input type="text" class="form-control" placeholder="Descripcion del grupo"
                                                id="{{formChild}}" formControlName="name"  onkeyup="description_validation(id)"  [(ngModel)]="formParent.value.group_item_options[formChild].name"
                                                style="border-block-color: red; border-left-color: red; border-right-color: red; ">
                                        </div>

                                        
                                    </div>




                                    <div class="col-md-4">

                                        <label>Cantidad de items seleccionables</label>


                                        <div class="form-group">

                                            <!--(keyup)="verify_index_items(formChild)"-->
                                            <input type="number" class="form-control" id="max_selected{{formChild}}"
                                            onkeyup="maxselected_validation(id)"(click)="groups_count(formChild)" min="1" placeholder="Numero seleccionable"
                                                onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"
                                                formControlName="max_selected" [(ngModel)]="formParent.value.group_item_options[formChild].max_selected" >

                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-1">
                                        <div class="form-group">
                                      
                                        </div>   
                                    </div>

                                    <div class="col-md-5">


                                        <div class="form-group" >
                                            <a class="btn_1 gray add-pricing-list-item" data-toggle="modal"
                                                id="{{formChild}}"  (click)="Present_Child(formChild)" 
                                                 data-target="#modal_edit_items"><i
                                                    class="fa fa-fw fa-plus-circle" ></i>Items del grupo</a>
                                        </div>
                                    </div>

                                    <div class="col-md-4">


                                       
                                        <div class="form-group">
                                            <label>Detalle de items</label>


                                            <div *ngFor="let list of formParent.value.dinamicos">

                                                <div
                                                    *ngIf='list.signal == formParent.value.group_item_options[formChild].indexid && list.tag !== "" && list.price !== "" && list.price !== null && list.tag !== null' >
                                                
                                                    <li class="fa fa-plus-circle"> {{list.tag}} &nbsp;&nbsp;&nbsp;Q
                                                        {{list.price}}</li>
                                                </div>

                                                <div
                                                    *ngIf='list.signal == formParent.value.group_item_options[formChild].indexid  && (list.tag === "" || list.price === "" || list.tag == null || list.price == null) '>
                                                    <li class="fa fa-plus-circle" style="color:red"> Incompleto </li>
                                                </div>

                                            </div>


                                            <div
                                                *ngIf="( formParent.value.group_item_options[formChild].has_sons == 0)">

                                                <li class="fa fa-plus-circle" style="color:red"> No hay ningun item en el grupo </li>
                                               
                                            </div>

                                        </div>

                                    </div>

                                </div>


                                    <hr style="width: 90%; margin-left: 20px; border-color: gray;">
                                 



                            </div>



                        </div>


                    </div>


                </form>
                
                
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn_1 green add-pricing-list-item" (click)="add_groups();"><i
                        class="fa fa-fw fa-plus-circle"></i>Agregar nuevo grupo</a>
                <br><br>


                <p></p>
                <p></p>

                <!--</div>-->
            <!--FIN-->
            <p>
                <!--<a class="btn_1 medium" disabled="true" >Guardar Platillo</a>-->
                 
                <button  class="btn btn-primary btn-block" (click)="Save_newdish();" [disabled]="loading" style="max-width: 200px ; align-content: center; margin-right: 10%; border-radius: 1.1em; font-style:initial;">
                    {{(loading) ? 'Guardando ...' : 'Guardar platillo'}}
                </button>

            </p>
            <br>



        </div>



        <!-- Modal para editar el detalle del grupo seleccionado MODAL DE EDICION-->

        <div class="modal fade" id="modal_edit_items" *ngIf="(groupitems_indicator == 1)" tabindex="-1" role="dialog" aria-labelledby="edit_bookingLabel"
            aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style=" width: 100%;">

                    <div class="modal-header">
                        <h5 class="modal-title" id="edit_bookingLabel">Detalle de grupo</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>


                    <div class="col-md-8">
                        <label>Titulo o descripcion</label>
                        <div class="form-group">

                            <input type="text" class="form-control" placeholder="Descripcion del grupo"
                                [(ngModel)]="group.name" id="description" onkeyup="description_validation(id)" style="height: 27px;">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label>Cantidad de items seleccionables</label>
                        <div class="form-group">
                            <input type="number" class="form-control" placeholder="Numero seleccionable" onclick="maxselected_validation(id)"
                                onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" (click)="Sons_count()"
                                [(ngModel)]="group.max_selected" id="max_sele" onkeyup="maxselected_validation(id)" min="1" (keyup)="Sons_count()" style="height: 27px;">
                        </div>
                        
                    </div>
                    <hr style="width: 90%; border-color: gray;"> 
                       

                    <div class="col-md-10">
                        <div class="form-group">

                            <h5 class="modal-title" id="edit_bookingLabel">&nbsp;&nbsp;&nbsp;ITEMS DEL GRUPO</h5>
                      
                        </div>

                        <div class="form-group" *ngIf="(Items_indicator == 0)">

                            &nbsp;&nbsp;&nbsp;<li class="fa fa-plus-circle" style="color:red"> No hay ningun item en el grupo </li>
                            
                            </div>
                    </div>



                    <form [formGroup]="formParent" class="form-parent" style="margin-left: 30px; margin-right: 15px;">


                        <div class="form-grid" formArrayName="dinamicos">

                            <div class="form-field" *ngFor="let items of getCtrl2('dinamicos',formParent) ?.controls; index as hijo">


                                <div class="form-block"  [formGroupName]="hijo">

                                    <div class="row" *ngIf=" (formParent.value.dinamicos[hijo].signal == Global_child) ">
                                     
                                        <div class="col-md-1">
                                            <div class="form-group">
                                                <!--LLAMAMOS A LA FUNCION PARA REMOVER UN ELEMENTO DE EL ARREGLO dinamicos, QUE ES EL QUE CONTIENE TODOS LOS ITEMS DE LOS GRUPOS Y LE 
                                    PASAMOS EL INDEX PARA QUE ELIMINE ESPECÍFICAMENTE ESE ELEMENTO DEL ARREGLO-->
                                                <a class="delete" style="cursor: pointer"
                                                    (click)="remove_group_element(hijo)"> <i
                                                        class="fa fa-fw fa-remove"></i></a>
                                            </div>
                                        </div>
                                        
                                        

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control"
                                                    placeholder="Nombre de la guarnicion" formControlName="tag"
                                                    [(ngModel)]="formParent.value.dinamicos[hijo].tag" style="height: 25px;">

                                            </div>
                                        </div>




                                        <div class="col-md-4">
                                            <div class="form-group">

                                                <input type="number" class="form-control" placeholder="Precio" min="0"
                                                    onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"
                                                    formControlName="price" style="height: 25px;" [(ngModel)]="formParent.value.dinamicos[hijo].price">
                                            </div>
                                               
                                            
                                        </div>
                                    
                                        <hr style="width: 90%; border-color: gray;"> 

                                    </div>


                                </div>

                            </div>


                        </div>


                        <div class="col-md-5">
                            <div class="form-group">
                                <a class="btn_1 gray add-pricing-list-item" (click)="add_item_element();"><i
                                        class="fa fa-fw fa-plus-circle"></i>Nueva guarnicion/extra</a>
                            </div>
                        </div>


                    </form>

                    <div class="modal-footer">
                        <!--LAS DOS FUNCIONES TIENEN UN OBJETIVO DIFERENTE AMBAS ACTUALIZAN EL VALOR DE LOS CAMPOS DEL ARRAY items_group EN BASE A LOS DATOS QUE ESTAN
                    EN EL FORM PRESENTES EN EL FORM  pero uno actualiza los valores en back-end y el otro en front-end -->
                        <a class="btn btn-primary" data-dismiss="modal" (click)="Present_Child_reverse()">Aceptar</a>
                    </div>


                </div>

            </div>


        </div>



        <!-- _____________________________________________ELEGIR CATEGORIA________________________________________________________________________ 
__________________________________________________________________________________________________________________________________________________________-->

        <!-- Modal para editar categoria -->
        <div class="modal fade" id="modalcat" tabindex="-1" role="dialog" aria-labelledby="edit_bookingLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style=" width: 100%;">

                    <form action="" style="margin-left: 15px; margin-right: 15px;">
                        <div class="modal-header">
                            <h5 class="modal-title" id="edit_bookingLabel">Elegir categoría</h5>

                                  
                            <div class="loading" *ngIf="loading_gif == true">
                                <img  src=  "assets/img/loading.gif" id="imagen_formulario2"
                                    style="max-width: 75px; position:relative;" >                           
                            </div>
                            
                            <!--<button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>-->
                        </div>


                        <div id="div1">
                            <table border="1">

                               <mat-selection-list #categories [(ngModel)]="selectedOptions" name="selectedOptions"
                               (ngModelChange)="onNgModelChange($event)">
                                   <mat-list-option  *ngFor="let categ of category" [value]="categ">
                                   <p>
                                       <img [src]="API_URI+categ.image" id="imagen_formulario"
                                           style="max-width: 30px;">&nbsp;&nbsp;
                                       {{categ.name}}
                                   </p>


                                    </mat-list-option>
                               </mat-selection-list>

                               
                           </table>
                       </div>

                        <div class="modal-footer">
                            <a class="btn btn-primary" href="#0" data-dismiss="modal">Aceptar</a>
                        </div>
                    </form>

                </div>

            </div>


        </div>


    </div>

 
     