<!-- /Navigation-->
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item" style="margin-left: 25px;">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Ordenes Internas</li>
        </ol>



        <div class="box_general padding_bottom">

          <!--GIF PARA LA CARGA DE DATOS, SE MUESTRA MIENTRAS SE CARGAN LOS DATOS EN EL CONSTRUCTOR-->
          
          <div  *ngIf="loading_gif == true" style="text-align: center;">
            <img  src=  "assets/img/loading.gif" id="imagen_formulario2"
                style="max-width: 100px; position:absolute; margin-left: -50px; " >                           
        </div>
          

            <!--categories pagination-->
            <nav aria-label="...">
                <ul class="pagination pagination-sm add_bottom_30">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Anterior</a>
                    </li>
                    <li *ngFor="let paging of paging_array, let cont = index " class="page-item">
                        <!--SI LA PAGINA DE INICIO DEL ARRAY ES IGUAL A EL INDEX GLOBAL DE LA PAGINA ENTONCES SE ENMARCA A NIVEL DE FRONTEND
            Y SE PRESENTA-->
                        <a *ngIf="( paging.init == global_index_page)" style="background-color: rgb(196, 230, 228);"
                            class="page-link" (click)="getOrders_count(paging.init)">{{cont+1}}</a>
                        <!--SI LA PAGINA DE INICIO DEL ARRAY NO ES IGUAL AL INDEX GLOBAL DE LA PAGINA ENTONCES SE DEJA CON LA PRESENTACION POR
            DEFECTO Y SE PRESENTA-->
                        <a *ngIf="( paging.init != global_index_page)" class="page-link"
                            (click)="getOrders_count(paging.init)">{{cont+1}}</a>
                    </li>

                    <li class="page-item">
                        <a class="page-link" href="#">Siguiente</a>
                    </li>
                </ul>
            </nav>
            <!--/ categories pagination-->


            <!--CATEGORIAS------------------se muestra el listado de las categorias que existen-->
            <div class="box_general">


                <!--SI NO HAY RESULTADOS SE MUESTRA EL SIGUIENTE PARRAFO-->
                <p *ngIf="( no_results == true)" style="color: rgb(88, 74, 126); font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: larger;">
                    NO FUE POSIBLE OBTENER RESULTADOS, INTENTE MAS TARDE!
                </p>
                     
                           
                            <a class="btn_1 gray" (click)="conectarsocketintern()"  
                            ><i class="fa fa-fw fa-pencil"></i> <i class="fa fa-fw fa-list"></i> orden interna</a>

                            <a class="btn_1 gray" (click)="conectarsocket()"  
                            ><i class="fa fa-fw fa-pencil"></i> <i class="fa fa-fw fa-list"></i> orden externa</a>
                            


                            <div class="list_general" *ngFor="let order of order_info, let cont = index">
                                <ul>
                                    <li *ngIf="(order.order_state == 'Completado')" style="background-color: rgb(241, 245, 249);">
                                        
                                        <span>
                                            <label style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;  color: rgb(109, 114, 139);" > # orden: {{order.code}} </label> &nbsp;&nbsp;&nbsp;&nbsp;             
                                             
                                            &nbsp;&nbsp;{{order.date_spanishformat}} &nbsp;&nbsp;&nbsp;&nbsp; {{order.order_time}} 
                                            <i class="read"  style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; background-color: rgb(118, 144, 163);  width: 50px ">  {{order.order_state}}</i> 
                                        </span>
                                        <figure><img src="assets/statics_img/orders_list_delivery.png" alt=""></figure>
                                        <h4>{{order.person_name}} {{order.person_second_name}} 

                                             <!--
                                            <i class="read"  style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; background-color: rgb(99, 140, 171); ">  {{order.order_state}}</i>
                                            --> 
                                        </h4>
                                        <p>  <a class='btn_1 gray' routerLink ='/dishes/edit_dish'>  <i  class='fa fa-fw fa-list'></i> Detalle</a> Nota: {{order.tag}} </p>
                                    </li>

                                     
                                    <li *ngIf="(order.order_state == 'En espera' || order.order_state == 'Procesando')" >
                                        <span > 
                                            <label style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;  color: rgb(109, 114, 139);" > # orden: {{order.code}} </label> &nbsp;&nbsp;&nbsp;&nbsp;
                                             
                                             &nbsp;&nbsp;{{order.date_spanishformat}} &nbsp;&nbsp;&nbsp;&nbsp;  {{order.order_time}} 
                                             <i class="read" *ngIf="(order.order_state == 'Procesando')" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; width: 50px  ">{{order.order_state}}</i> 
                                             <i class="pending" *ngIf="(order.order_state == 'En espera')" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; width: 50px ">{{order.order_state}}</i> 
                                            </span>
                                        <figure><img src="assets/statics_img/orders_list_delivery.png" alt=""></figure>
                                        <h4>
                                            
                                            {{order.person_name}} {{order.person_second_name}} 
                                            
                                            <!--
                                            <i class="pending" *ngIf="(order.order_state == 'En espera')" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">{{order.order_state}}</i>
                                            <i class="read" *ngIf="(order.order_state == 'Procesando')" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">{{order.order_state}}</i>
                                            --> 
                                        </h4>
                                            <p>  <a class='btn_1 gray' data-toggle="modal" (click)="getOrder_detail_modal(order.id_order)" data-target="#modal_order_detail">  <i  class='fa fa-fw fa-list'></i> Detalle</a> Nota: {{order.tag}}</p>
                                    </li>

            
                                </ul>
                                 
                                
                            </div>
                        
                        

            </div>


            <!-- pagination-->
            <nav aria-label="...">
                <ul class="pagination pagination-sm add_bottom_30" >
                    <li class="page-item disabled">
                        <a class="page-link"  tabindex="-1">Anterior</a>
                    </li>
                    <li *ngFor="let paging of paging_array, let cont = index " class="page-item">
                        <!--SI LA PAGINA DE INICIO DEL ARRAY ES IGUAL A EL INDEX GLOBAL DE LA PAGINA ENTONCES SE ENMARCA A NIVEL DE FRONTEND
            Y SE PRESENTA-->
                        <a *ngIf="( paging.init == global_index_page)" style="background-color: rgb(196, 230, 228);"
                            class="page-link" (click)="getOrders_count(paging.init)">{{cont+1}}</a>
                        <!--SI LA PAGINA DE INICIO DEL ARRAY NO ES IGUAL AL INDEX GLOBAL DE LA PAGINA ENTONCES SE DEJA CON LA PRESENTACION POR
            DEFECTO Y SE PRESENTA-->
                        <a *ngIf="( paging.init != global_index_page)" class="page-link"
                            (click)="getOrders_count(paging.init)">{{cont+1}}</a>
                    </li>

                    <li class="page-item">
                        <a class="page-link" >Siguiente</a>
                    </li>
                </ul>
            </nav>
            <!-- /pagination-->
        </div>

    </div>
    <!-- /.container-fluid-->
</div>
<!-- /.container-wrapper-->



 <!--Modal para mostrar galería, GALERÍA DE IMAGENES-->
 <div class="modal inverse-wrapper modal-transparent move-from-top" id="order_modaldetail" tabindex="-1" role="dialog"
 data-backdrop="static" style="margin-left: 5px;" >
 <div class="modal-dialog modal-lg" role="document">
     <div class="modal-content">

         <div class="modal-header">
             <div style="margin-left: auto;">
                 <h2>Detalle de orden</h2>
             </div>

             <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">×</span>
             </button>
         </div>


        
            <!--
             <div class="row">


                 <div class="col-md-2" 
                     style="margin-right: 5px; margin-left: 10px;">
                     <div class="form-group">

                        



                     </div>


                 </div>

             </div>-->

             <div class="col-md-8">
                <div class="form-group">

             <div class="list_general" *ngFor="let order of order_info, let cont = index" >
               
                
                    
                    <h4>{{order.person_name}} {{order.person_second_name}} 

                        <!--
                       <i class="read"  style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; background-color: rgb(99, 140, 171); ">  {{order.order_state}}</i>
                       --> 
                   </h4> 

                    
                        <span *ngIf="(order.order_state == 'En espera' || order.order_state == 'Procesando')"> 


                            <label style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;  color: rgb(109, 114, 139);" > # orden: {{order.code}} </label> &nbsp;&nbsp;&nbsp;
                           
                            
                             &nbsp;{{order.date_spanishformat}} &nbsp;&nbsp;  {{order.order_time}} 
                             <label for="">Estado </label>
                             <i class="read" *ngIf="(order.order_state == 'Procesando')" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; width: 50px  ">{{order.order_state}}</i> 
                             <i class="pending" *ngIf="(order.order_state == 'En espera')" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; width: 50px ">{{order.order_state}}</i> 
                            </span>
                        <figure><img src="assets/statics_img/orders_list_delivery.png" alt="" style=" width:50px"></figure>
                        
                            <p>Nota: {{order.tag}}</p>
                   

            </div>
       
        </div>
       </div>
         


     </div>
 </div>
</div>


            <!-- _____________________________________________MODAL PARA DETALLE DE ORDEN________________________________________________________________________ 
__________________________________________________________________________________________________________________________________________________________-->

            <!-- Modal para editar platillo -->
            <div class="modal fade" id="modal_order_detail" tabindex="-1" role="dialog" aria-labelledby="edit_bookingLabel"
                aria-hidden="true" data-backdrop="static">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" style=" width: 100%;">

                        

                        <div class="modal-header">
                            <h5 class="modal-title" id="edit_bookingLabel">DETALLE DE ORDEN</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>

                        <div  *ngIf="loading_modaldetail_gif == true" style="text-align: center;">
                            <img  src=  "assets/img/loading.gif" id="imagen_formulario"
                                style="max-width: 100px; position:absolute; margin-left: -50px; " >                           
                        </div>
                        
            
                         <div class="list_general" *ngFor="let order of order_detail_info, let cont = index" >
                           
                            <div class="col-md-10">
                                <div class="form-group">
                                
                                     <h4><label> Cliente:</label> {{order.person_name}} {{order.person_second_name}}  </h4> 
            
                                
                                    <span *ngIf="(order.order_state == 'En espera' || order.order_state == 'Procesando')"> 
            
            
                                        <label> # orden:</label> {{order.code}}  &nbsp;&nbsp;&nbsp;
                                       
                                        
                                         <label>Fecha: </label> {{order.date_spanishformat}} &nbsp;&nbsp;&nbsp; <label>Hora:</label> {{order.order_time}} 
                                    </span>
                                 </div>                   
                            </div>               
                                     
                           
                            <div class="col-md-7">
                                <div class="form-group">
                                    
                                         <label for="">Estado </label>
                                         <i class="read" *ngIf="(order.order_state == 'Procesando')" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; width: 50px  ">{{order.order_state}}</i> 
                                         <i class="pending" *ngIf="(order.order_state == 'En espera')" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; width: 50px ">{{order.order_state}}</i> 
                                    
                                         <!--<figure><img src="assets/statics_img/orders_list_delivery.png" alt="" style=" width:50px"></figure>-->
                                    
                                    &nbsp;&nbsp;&nbsp;&nbsp; <p>Nota: {{order.tag}}</p>
                                    
                                </div>                   
                            </div>
                        
                   </div>




                    </div>

                </div>


            </div>
   