<!-- /Navigation-->
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item" style="margin-left: 25px;">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Ordenes Externas</li>
        </ol>



        <div class="box_general padding_bottom">

          <!--GIF PARA LA CARGA DE DATOS, SE MUESTRA MIENTRAS SE CARGAN LOS DATOS EN EL CONSTRUCTOR-->
          
          <div  *ngIf="loading_gif == true" style="text-align: center;">
            <img  src=  "assets/img/loading.gif" id="imagen_formulario2"
                style="max-width: 100px; position:absolute; margin-left: -50px; " >                           
        </div>
          

            <!--categories pagination-->
            <nav aria-label="...">
                <ul class="pagination pagination-sm add_bottom_30">
                    <li class="page-item" (click)="previuspage()" *ngIf="( previus_state == true)">
                        <a class="page-link" >Anterior</a>
                    </li>

                    <li class="page-item disabled"  *ngIf="( previus_state == false)">
                        <a class="page-link"  tabindex="-1">Anterior</a>
                    </li>

                    <!--<li class="page-item disabled">
                        <a class="page-link"  tabindex="-1" (click)="previus_and_next()" *ngIf="( previus_state == false)">Anterior</a>
                    </li>-->
                    <li *ngFor="let paging of paging_array, let cont = index " class="page-item">
                        <!--SI LA PAGINA DE INICIO DEL ARRAY ES IGUAL A EL INDEX GLOBAL DE LA PAGINA ENTONCES SE ENMARCA A NIVEL DE FRONTEND
            Y SE PRESENTA-->
                        <a *ngIf="( paging.init == global_index_page)" style="background-color: rgb(196, 230, 228);"
                            class="page-link" (click)="getOrders_count(paging.init,cont+1)">{{cont+1}}</a>
                        <!--SI LA PAGINA DE INICIO DEL ARRAY NO ES IGUAL AL INDEX GLOBAL DE LA PAGINA ENTONCES SE DEJA CON LA PRESENTACION POR
            DEFECTO Y SE PRESENTA-->
                        <a *ngIf="( paging.init != global_index_page)" class="page-link"
                            (click)="getOrders_count(paging.init,cont+1)">{{cont+1}}</a>
                    </li>

                    <li class="page-item"  (click)="nextpage()" *ngIf="( nextpage_state == true)">
                        <a class="page-link" >Siguiente</a>
                    </li>

                    <li class="page-item disabled" *ngIf="(nextpage_state == false)">
                        <a class="page-link"  tabindex="-1">Siguiente</a>
                    </li>
                </ul>
            </nav>
            <!--/ categories pagination-->


            <!--CATEGORIAS------------------se muestra el listado de las categorias que existen-->
            <div class="box_general">


                <!--SI NO HAY RESULTADOS SE MUESTRA EL SIGUIENTE PARRAFO-->
                <p *ngIf="( no_results == true)" style="color: rgb(88, 74, 126); font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: larger;">
                    NO FUE POSIBLE OBTENER RESULTADOS, INTENTE MAS TARDE!
                </p>
                                
                <div class="form-group">
                    
                           <!-- <a class="btn_1 gray" (click)="conectarsocketintern()"  
                            ><i class="fa fa-fw fa-pencil"></i> <i class="fa fa-fw fa-list"></i> orden interna</a>
                            &nbsp;&nbsp;-->

                            <!--
                            <a class="btn_1 gray" (click)="conectarsocket()"  
                            ><i class="fa fa-fw fa-pencil"></i> <i class="fa fa-fw fa-list"></i> orden externa</a>
                            &nbsp;&nbsp;-->

                            <div class="row">                            
                            
                                <div class="col-md-3">
                                    <div class="form-group">
                            <a class="btn_1 gray"  routerLink ="/dishes/orders_list"
                            ><i class="fa fa-fw fa-eye"></i> <i class="fa fa-fw fa-list"></i> En proceso</a>
                                    </div>
                               </div>
                            

                               <div class="col-md-3">
                                  <div class="form-group">
                            <a class="btn_1 gray"  routerLink ="/dishes/orders_list_completed"
                            ><i class="fa fa-fw fa-eye"></i> <i class="fa fa-fw fa-list"></i> Completados</a>
                                 </div>
                               </div>

                               <!--<div class="col-md-3">
                                <div class="form-group">
                          <a class="btn_1 gray"  (click)="refresh()"
                          ><i class="fa fa-fw fa-refresh"></i> Refrescar</a>
                               </div>
                             </div>-->


                            

                            </div>

                  
                            <div class="list_general" *ngFor="let order of order_info, let cont = index">
                                <ul>
                                     
                                    <li *ngIf="(order.order_state == 'En espera' || order.order_state == 'Procesando')" >
                                        <span>
                                             
                                            &nbsp;&nbsp;<label style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;  color: rgb(109, 114, 139);" > # orden: {{order.code}} </label> &nbsp;&nbsp;&nbsp;&nbsp;
                                             
                                             &nbsp;&nbsp;{{order.date_spanishformat}} &nbsp;&nbsp;&nbsp;&nbsp;  {{order.order_time}} 
                                              <i class="read" *ngIf="(order.order_state == 'Procesando')" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; width: 50px  ">{{order.order_state}}</i> 
                                             
                                            </span>
                                        <figure><img src="assets/statics_img/orders_list_delivery.png" alt="" style="cursor: pointer" data-toggle="modal" (click)="getOrder_detail_modal(order.id_order)" data-target="#modal_order_detail"></figure>
                                        <h4>
                                            
                                            {{order.person_name}} {{order.person_second_name}} 
                                            
                                            <!--
                                            <i class="pending" *ngIf="(order.order_state == 'En espera')" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">{{order.order_state}}</i>
                                            <i class="read" *ngIf="(order.order_state == 'Procesando')" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">{{order.order_state}}</i>
                                            --> 
                                        </h4>
                                              
                                                <p>                                                       
                                                 <a class='btn_1 gray'  (click)="getOrder_detail_modal(order.id_order)" data-toggle="modal" data-target="#modal_order_detail">  <i  class='fa fa-info-circle'></i> Detalle</a>&nbsp;&nbsp;  Nota: {{order.tag}}
                                                </p>

                                            
                                    </li>

                                </ul>
                                 
                                
                            </div>
                        
        

    </div>


         <!-- pagination-->
         <nav aria-label="...">
            <ul class="pagination pagination-sm add_bottom_30" >
                
                <li class="page-item" (click)="previuspage()" *ngIf="( previus_state == true)">
                    <a class="page-link" >Anterior</a>
                </li>

                <li class="page-item disabled"  *ngIf="( previus_state == false)">
                    <a class="page-link"  tabindex="-1">Anterior</a>
                </li>

                <li *ngFor="let paging of paging_array, let cont = index " class="page-item">
                    <!--SI LA PAGINA DE INICIO DEL ARRAY ES IGUAL A EL INDEX GLOBAL DE LA PAGINA ENTONCES SE ENMARCA A NIVEL DE FRONTEND
        Y SE PRESENTA-->
                    <a *ngIf="( paging.init == global_index_page)" style="background-color: rgb(196, 230, 228);"
                        class="page-link" (click)="getOrders_count(paging.init,cont+1)">{{cont+1}}</a>
                    <!--SI LA PAGINA DE INICIO DEL ARRAY NO ES IGUAL AL INDEX GLOBAL DE LA PAGINA ENTONCES SE DEJA CON LA PRESENTACION POR
        DEFECTO Y SE PRESENTA-->
                    <a *ngIf="( paging.init != global_index_page)" class="page-link"
                        (click)="getOrders_count(paging.init,cont+1)">{{cont+1}}</a>
                </li>

                <li class="page-item"  (click)="nextpage()" *ngIf="( nextpage_state == true)">
                    <a class="page-link" >Siguiente</a>
                </li>

                <li class="page-item disabled" *ngIf="(nextpage_state == false)">
                    <a class="page-link"  tabindex="-1">Siguiente</a>
                </li>
                
            </ul>
        </nav>
        <!-- /pagination-->   
    
    
    <!-- /.container-fluid-->
</div>
<!-- /.container-wrapper-->






            <!-- _____________________________________________MODAL PARA DETALLE DE ORDEN________________________________________________________________________ 
__________________________________________________________________________________________________________________________________________________________-->

            <!-- Modal para tratar orden -->
            <div class="modal fade" id="modal_order_detail" tabindex="-1" role="dialog" aria-labelledby="edit_bookingLabel"
                aria-hidden="true" data-backdrop="static">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" style=" width: 100%;">

                        

                        <div class="modal-header">
                            <h5 class="modal-title" id="edit_bookingLabel">DETALLE DE ORDEN</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>

                        <div  *ngIf="loading_modaldetail_gif == true" style="text-align: center;">
                            <img  src=  "assets/img/loading.gif" id="imagen_formulario"
                                style="max-width: 100px; position:absolute; margin-left: -50px; " >                           
                        </div>
                        
                        <!--INICIO DE FOR PARA RECORRER order_detail_info-->
                         <div class="list_general" *ngFor="let order of order_detail_info, let cont = index" >
                           
                            <div class="col-md-12">
                                <div class="form-group">
                                    
                                    <div class="form-group" style="text-align: right; margin-top: 10px; margin-right: 30px;">
                                        
                                        <!--<button  [disabled]="loading_statebuton" class="btn_1 gray"  (click)="update_ordersatate(order.id_order)" data-dismiss="modal" style="background-color: rgb(253, 194, 104); color: black;" > <i class="fa fa-fw fa-check-circle-o"></i>{{(loading_statebuton) ? 'Actualizando ...' : 'Completar orden'}}</button>-->
                                        
                                        <a class="btn_1 gray"  (click)="update_ordersatate(order.id_order)" style="background-color: rgb(253, 194, 104); color: black;" data-dismiss="modal">  <i class="fa fa-fw fa-check-circle-o"></i>Completar orden</a>
                                     
                                    </div>
                                    
                                     
                                     <h4><label> Cliente:</label> {{order.person_name}} {{order.person_second_name}}  </h4> 
                                                                             
                                    <span *ngIf="(order.order_state == 'En espera' || order.order_state == 'Procesando')"> 
            
            
                                        <label> # orden:</label> {{order.code}}  &nbsp;&nbsp;&nbsp;
                                       
                                        
                                         <label>Fecha: </label> {{order.date_spanishformat}} &nbsp;&nbsp;&nbsp; <label>Hora:</label> {{order.order_time}} 
                                    </span>
                                 </div>                   
                            </div>               
                            
                           
                            <div class="col-md-12">
                                <div class="form-group">
                                    
                                         <label >Estado </label>
                                         <i class="read" *ngIf="(order.order_state == 'Procesando')" style="padding: 0.4em 1em 0.4em 1em; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; width: 50px  ">{{order.order_state}}</i> 
                                         &nbsp;&nbsp;
                                         <label>Telefono &nbsp;</label>
                                         <!--
                                         <i><a href="https:////wa.me/+502{{order.user_phone}}/?text=hola hemos recibido tu pedido" target="_blank" style="display: inline; font-family: sans-serif; text-decoration: none; color: #fff; font-size: 0.8em; padding: 0.5em 1em 0.4em 3.5em; border-radius: 2em; font-weight: bold; background: #25d366 url('https://tochat.be/click-to-chat-directory/css/whatsapp.svg') no-repeat 1.5em center; background-size: 1.6em;">{{order.user_phone}}</a></i>
                                         -->
                                         
                                         <i><a  (click)="choose_option_call(order.user_phone)" style=" cursor: pointer; display: inline; font-family: sans-serif; text-decoration: none; color: #fff; font-size: 0.8em; padding: 0.5em 1em 0.4em 3.5em; border-radius: 2em; font-weight: bold; background: #25d366 url('https://tochat.be/click-to-chat-directory/css/whatsapp.svg') no-repeat 1.5em center; background-size: 1.6em;" >{{order.user_phone}}</a></i>
                                       
                                         <p>Nota: {{order.tag}}</p>


                                         


                                         
                                          
                                         
                                        
                                </div>                   
                            </div>
                                                             
                         <!--INICIO DE FOR PARA RECORRER order_detail_info-->
                         <!--<label> Nombre del producto :</label>-->

                         <table class="responsivegene">
                           
                            <thead>
                                <div class="col-md-12">
                                   
                                    <div class="row">
                                  <div class="col-md-6" style="text-indent: 0;">  
                                    <div  style="text-indent: 0; font-weight:300; color: black;">
                                  Nombre
                                   </div>
                                  </div>

                                  <div class="col-md-3" style="text-indent: 0;">
                                    <div  style="text-indent: 0; font-weight:300; color: black;">
                                  P.Unitario
                                    </div>
                                  </div>

                                  <div class="col-md-3" style="text-indent: 0;">
                                    <div  style="text-indent: 0; font-weight:300; color: black;">
                                    Subtotal
                                    </div>
                                  </div>
                                 </div>
                                 
                                
                              
                                
                               </div>
                            </thead>
                              
                        <tbody>
                            <div class="list_general" *ngFor="let order of order_detail, let cont = index" >
                            
                            <div class="col-md-12">

                                
                                <div class="row">
                                 
                                     
                                    <div class="col-md-6" style="text-indent: 0; " >
                                        <td data-label="Nombre" > 
                                        <div  style="text-indent: 0; font-weight:300; color: black;" >
                                            &nbsp;&nbsp;&nbsp;&nbsp;<label>{{order.dishes_number}} * {{order.dish_name}}</label> 
                                        </div> 
                                        </td>                     
                                    </div>
                                    
                                 

                                    
                                    <div class="col-md-3" style="text-align: right; text-indent: 0; font-weight:300; color: black;">
                                         
                                        <td data-label="Precio U." > </td>
                                        <div  style="text-indent: 0;">
                                            
                                         <label>  {{order.dish_price}}  </label>   
                                            
                                        </div> 
                                        
                                    </div>
                                    
                                   

                                     
                                    <div class="col-md-3" style="text-align: right; text-indent: 0; font-weight:300; color: black;" >
                                        
                                        <td data-label="Subtotal" style="text-align: right;"></td> 
                                        <div style="text-align: right;">
                                            <div style="text-align: right;">
                                         <label style="text-align: right;">   {{((order.dish_price)*(order.dishes_number)) | number: '1.2' }}  </label>   
                                           </div>
                                        </div> 
                                        
                                        
                                    </div>
                                  
                                    
                                                        <!--INICIO DE FOR PARA RECORRER order_detail_info-->
                                                      
                                                        
                                                        <div class="list_general" *ngFor="let items of orderitems_detail, let cont = index" >
                           
                                                                      <div *ngIf="(order.id_order_detail == items.id_order_detail)">
                                                                        <div>
                                                                            
                                                                            <div class="row">
                                                                                
                                                                                 
                                                                                <div class="col-md-6" style="font-family:cursive; color: rgb(107, 120, 133); ">
                                                                                   
                                                                                        <td data-label="Nombre"></td> 
                                                                               <label > &nbsp;&nbsp;&nbsp;&nbsp;<label></label> {{order.dishes_number}} *{{items.extra_name}} </label>
                                                                                        
                                                                                   
                                                                                </div>
                                                                                

                                                                                
                                                                                <div class="col-md-3" style="text-align: right;">
                                                                                    <td data-label="P. Unitario"></td>
                                                                                     <label >  {{items.extra_price}}  </label>
                                                                                    
                                                                                </div>
                                                                                

                                                                                <div class="col-md-3" style="text-align: right; text-indent: 0;" >
                                                                                    <div  style="text-indent: 0;">
                                                                                        <td data-label="Subtotal"></td>
                                                                                        <!-- mostramos el subtotal con 1 numero a la izquierda y 2 cifras cecimales por eso escribimos
                                                                                        1.2 (SINTAXIS DE ANGULAR PARA DICHO PROPOSITO)-->
                                                                                     <label>  {{(items.extra_price)*(order.dishes_number) | number: '1.2' }}  </label>   
                                                                                    </div> 
                                                                                </div>
                                                                                

                                                                            </div>
            
                                                                        </div>                   
                                                                      </div>               
                                     
                        
                        
                                                        </div> 
                                                              <!--FIN DE RECORRIDO FOR DE order_detail_info-->   
                                    
                                 </div>

                            </div>      
                                   
                        </div>

                       </tbody>
                    </table>
                        <!--FIN DE RECORRIDO FOR DE order_detail_info-->
                   

                        
                        <div class="col-md-12">
                            <div class="row">
                            <div class="col-md-9">
                            <div class="form-group">
                                
                                <label> Total:</label>
                          
                            </div>
                            </div>  
                            
                            <div class="col-md-3">
                                <div class="form-group" style="text-align: left">
                                    <label>  {{order.total}}</label>
                                    
                                </div>                
                            </div>  
                            </div>
                            
                        </div>
                        <!--FIN DE RECORRIDO FOR DE order_detail_info-->




                    </div>


                </div>


            </div>
   
            
